@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-height: 4rem;
  --radius: 0.5rem;
  --muted: #838383;
  --primary-foreground: #ffffff;
  --secondary: #3c603b;
  --secondary-foreground: #ffffff;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 60 9.1% 97.8%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    select,
    textarea,
    input {
      font-size: 16px !important;
    }
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  h1 {
    @apply text-7xl leading-tight;
  }
  h2 {
    @apply text-5xl;
  }

  h3 {
    @apply text-4xl;
  }

  h4 {
    @apply text-2xl;
  }

  p {
    @apply text-base text-[#838383];
  }
}
